[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
spacy = "*"
datefinder = "*"
date-extractor = "*"

[dev-packages]

[requires]
python_version = "3.8"
